################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/Project.tlog
/CppProperties.json
/xlsx1-1.xlsx
/JP_ST_JW_OPT SP_1.pdf
/JP_ST_JW_OPT SP_1.docx
